/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input {
  font-family: inherit;
  font-weight: inherit;
  font-size: 100%;
}

/* GLOBAL CONFIG */

:root {
  --ff-acc: serif;
  --ff-prm: sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--ff-prm);
}
