[submodule "handwriting-synthesis"]
	path = handwriting-synthesis
	url = https://github.com/sjvasquez/handwriting-synthesis.git
[submodule "blot"]
	path = blot
	url = https://github.com/hackclub/blot.git
[submodule "OpenCV-Document-Scanner"]
	path = OpenCV-Document-Scanner
	url = https://github.com/andrewdcampbell/OpenCV-Document-Scanner.git
