[submodule "handsynth"]
	path = server/handsynth
	url = https://github.com/sjvasquez/handwriting-synthesis.git
[submodule "blot"]
	path = client/src/blot
	url = https://github.com/hackclub/blot.git
[submodule "scanner"]
	path = server/scanner
	url = https://github.com/andrewdcampbell/OpenCV-Document-Scanner/
