# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Client stuff
node_modules
dist
dist-ssr
*.local

# Python stuff
__pycache__/
.venv

# Handsynth output files
img
