[submodule "handwriting-synthesis"]
	path = handwriting-synthesis
	url = https://github.com/sjvasquez/handwriting-synthesis.git
[submodule "blot"]
	path = blot
	url = https://github.com/hackclub/blot.git
