fastapi
openai>=1.39.0
pydantic
python-multipart
snowflake-id
uvicorn[standard]

# Fix protobuf bug
protobuf==3.20.0

# Handsynth deps
-r ./handsynth/requirements.txt

# Scanner deps
-r ./scanner/requirements.txt

# Development deps
black
